{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base.html.twig" %}
{% block contenido1 %}
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/MyFreakZone/principal" class="navbar-brand"><img class="simbol" src="/utilidades/img.png" alt="simbolo" /> MyFreakZone</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Series<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/series/vistas/{{ usuario }}">Vistas</a></li>
                        <li><a href="/listado/series/viendo/{{ usuario }}">Viendo</a></li>
                        <li><a href="/listado/series/pendientes/{{ usuario }}">Pendientes</a></li>
                        <li><a href="/listado/series/borradas/{{ usuario }}">Borradas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Animes<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/animes/vistas/{{ usuario }}">Vistas</a></li>
                        <li><a href="/listado/animes/viendo/{{ usuario }}">Viendo</a></li>
                        <li><a href="/listado/animes/borradas/{{ usuario }}">Borradas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes">Películas<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="/listado/peliculas/vistas/{{ usuario }}">Vistas</a></li>
                        <li><a href="/listado/peliculas/viendo/{{ usuario }}">Viendo</a></li>
                        <li><a href="/listado/peliculas/borradas/{{ usuario }}">Borradas</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                 {% if nMensajes == 0 %}
                    <li><img src="/utilidades/image/leidos.png" alt="mensajes leidos" class="simbol img_leidos_" id="img_leidos" /></li>
                 {% else %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" 
                           href="#" id="themes"><img src="/utilidades/image/no-leidos1.png" alt="mensajes leidos" class="simbol" id="img_leidos" /></a>
                        <ul class="dropdown-menu" aria-labelledby="themes">
                            {% for i in 0..nMensajes-1 %}
                                <li><a href="/datosusuario/{{ usuario }}/m/{{ tienesMensajes[i] }}">Tienes un mensaje de {{ tienesMensajes[i] }}</a></li>
                            {% endfor %}
                        </ul>
                        
                    </li>
                 {% endif %}
                <li><a href="/datosusuario/{{ usuario }}/m/1">Mi perfil</a></li>
                <li><a href="{{ urlFor('salir')}}">Salir</a></li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
