{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
        <div class="row">
                {% for i in datos %}
                        <div class="col-md-3 cajitas">
                             <a href="/datosmaterial/{{i['id']}}">
                                 {{ i['nombre'] }}<br/>
                                 {% if i['img_material'] is null %}
                                 <img src="/utilidades/image/material/default.png" class="imgmaterial" >
                                 {% else %}
                                 <img src="{{ i['img_material'] }}" class="imgmaterial" >
                                 {% endif %}
                             </a>
                             <br/><label class="resalta">Tipo: </label>
                             {% if i.tipo == 1 %}
                             Serie
                             {% elseif i.tipo == 2 %}
                             Anime
                             {% elseif i.tipo == 3 %}
                             Película
                             {% endif %}
                             <br/><label class="resalta">Año</label>
                             {% if i['anio'] is null %}
                             ????
                             {% else %}
                             {{ i['anio'] }}
                             {% endif %}
                         </div>
                 {% else %}
                 <div class="info center">No se han encontrado datos</div>
                 {% endfor %}
             </div> 
     <form method="POST">
        <div class="row">
            <div class="col-md-12">
                <div class="bs-component">
                    <ul class="pagination">
                      {% for i in 1..N %}
                        <li><button onClick = "this.form.action='/busquedam/{{i}}' ">{{i}}</button></li>
                      {% endfor %}
                    </ul>
                 </div>
                 <br/>
                <label>Si la serie/película/anime que ha buscado no ha sido encontrada y
                quiere agregarla pinche <a href="/introducematerial">aquí</a></label>
           </div>
         </div>
         <div class="row" >
             <div class="col-md-12">
                <label>Está filtrando por 
                  {% if opciones[0] == 1 %}
                      <input id="A" type="checkbox" class="css-checkbox" name="cbmaterial[]"  value='0' checked>
                      <label for="A" class="css-label">Serie </label>
                  {% else %} 
                      <input id="A" type="checkbox" class="css-checkbox" name="cbmaterial[]"  value='0'>
                      <label for="A" class="css-label">Serie </label>
                  {% endif %}
                  {% if opciones[1] == 1 %}
                      <input id="B" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='1' checked >
                      <label for="B" class="css-label">Anime </label>
                  {% else %} 
                      <input id="B" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='1' >
                      <label for="B" class="css-label">Anime </label>
                  {% endif %}
                  {% if opciones[2] == 1 %}
                       <input id="C" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='2' checked >
                       <label for="C" class="css-label">Pelicula </label>
                  {% else %}
                       <input id="C" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='2' >
                       <label for="C" class="css-label">Pelicula </label>
                  {% endif %}
                  </label>
                  <br/><label>Está filtrando por la palabra {{ datosBusqueda[0] }}
                      <input type="hidden" value="{{ datosBusqueda[0] }}" name="buscaanime" >
                  </label>
                  {% if datosBusqueda[1] is not null %}
                  <br/><label>Está filtrando por el género '{{ datosBusqueda[1]}}' </label>
                  <input type="hidden" value="{{ datosBusqueda[1] }}" name="geneross" >
                  {% endif %}
                  {% if datosBusqueda[2] is not null %}
                  <br/>
                  <label>Está filtrando por el año '{{datosBusqueda[2]}}' </label>
                  {% endif %}
             </div>
         </div>
       </form>
   </div> 
{% endblock %}