{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
        <div class="row">
            {% set cont = 0 %}
            {% set cont2 = 2 %}
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                {% for i in datos %}
                    {% if cont == 10 %}
                        </div>
                        <div id="tab{{cont2}}" class="tab-pane">
                         {% set cont = 0 %}
                        {% set cont2 = cont2 + 1 %}
                    {% endif %}
                    {% set cont = cont + 1 %}
                        <div class="col-md-3 cajitas">
                             <a href="/datosmaterial/{{i['id']}}">
                                 {{ i['nombre'] }}<br/>
                                 {% if i['img_material'] is null %}
                                 <img src="/utilidades/image/material/default.png" class="imgmaterial" >
                                 {% else %}
                                 <img src="{{ i['img_material'] }}" class="imgmaterial" >
                                 {% endif %}
                             </a>
                             <br/><label class="resalta">Tipo: </label>
                             {% if i.tipo == 1 %}
                             Serie
                             {% elseif i.tipo == 2 %}
                             Anime
                             {% elseif i.tipo == 3 %}
                             Película
                             {% endif %}
                             <br/><label class="resalta">Año</label>
                             {% if i['anio'] is null %}
                             ????
                             {% else %}
                             {{ i['anio'] }}
                             {% endif %}
                         </div>
                 {% else %}
                 <div class="info center">No se han encontrado datos</div>
                 {% endfor %}
             </div>
        </div>     
        <div class="row">
            <div class="col-md-12">
            <ul class="nav nav-tabs">  
                {% for i in 1..(cont2-1) %}
                   <li><a href="#tab{{i}}" data-toggle="tab" class="active">{{i}}</a></li>
                {% endfor %}
              </ul>
           </div>
         </div>
         <br/>
         <label>Si la serie/película/anime que ha buscado no ha sido encontrada y
                quiere agregarla pinche <a href="/introducematerial">aquí</a></label>
    </div>
{% endblock %}