{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
                {% for i in datos %}
                        <div class="col-md-3 cajitas">
                             <a href="/datosusuario/{{i['nick']}}/m/1">
                                 {{ i['nick'] }}<br/>
                                 {% if i['img_perfil'] is null %}
                                 <img src="/utilidades/image/perfil/default.png" class="imgmaterial" >
                                 {% else %}
                                 <img src="{{ i['img_perfil'] }}" class="imgmaterial" >
                                 {% endif %}
                             </a>
                             <br/><label class="resalta">Nombre: </label>
                             {% if i['nombre'] is null %}
                             No ha introducido nombre
                             {% else %}
                             {{ i['nombre'] }}
                             {% endif %}
                             <br/><label class="resalta">Apellido: </label>
                             {% if i['apellido'] is null %}
                             No ha introducido apellido
                             {% else %}
                             {{ i['apellido'] }}
                             {% endif %}
                         </div>
                 {% else %}
                 <div class="info center">No se han encontrado datos</div>
                 {% endfor %}
             </div>
      <form method="POST" >
        <div class="row">
            <div class="col-md-12">
                <div class="bs-component">
                    <ul class="pagination">
                      {% for i in 1..N %}
                        <li><button onClick="this.form.action = '/busquedausuario/{{i}}' ">{{i}}</button></li>
                      {% endfor %}
                    </ul>
                 </div>
           </div>
         </div>
        <div class="row" style="visibility: hidden">
            <div class="col-md-12">
                <br/><label>Está filtrando por la palabra '{{ datosBusqueda[0] }}'</label>
                      <input type="hidden"  value="{{ datosBusqueda[0] }}" name="busquedausuario" id="inputbusqueda" />
                <br/><label>Está filtrando por el campo 
                    {% if datosBusqueda[1] == 1 %}
                    'Nombre'
                    {% endif %}
                    {% if datosBusqueda[1] == 2 %}
                    'Nick'
                    {% endif %}
                    {% if datosBusqueda[1] == 3 %}
                    'Material'
                    {% endif %}
                    </label>
                <input type="hidden" value="{{datosBusqueda[1]}}" name="filtrado" />
            </div>
        </div>
      </form>
    </div>
{% endblock %}