{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-hover mytable" >
                <thead>
                    <th>Nick</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <!-- Planteandome incluir una "Fecha de registro" -->
                </thead>
                <tbody>
                    {% set cont = 0 %}
                    {% for i in datos %}
                        <tr>
                            <td><a href="datosusuario/{{i.nick}}">{{ i.nick }}</a></td>
                            <td>{{ i.nombre }}</td>
                            <td>{{ i.apellido }}</td>
                        {% set cont = cont + 1 %}
                     {% else %}
                     <div class="info center">No se han encontrado resultados</div>
                     {% endfor %}
                </tbody>
            </table>
            <div class="info center">El número de usuarios encontrados es {{ cont }}</div>
        </div>
    </div>
{% endblock %}