{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
        <h1 class="center">{{ datos.nombre }}</h1>
        <div class="col-md-4">
            {% if datos['img_material'] is null %}
            <img src="/utilidades/image/material/default.png" class="imgmaterial" >
            {% else %}
            <img src="{{ datos['img_material'] }}" class="imgmaterial" >
            {% endif %}
            <br/>Sinopsis: 
            {% if datos['sinopsis'] is null %}
            Sin sinopsis
            {% else %}
            {{ datos['sinopsis'] }}
            {% endif %}
            <br/>Año en el que salió: 
            {% if datos['anio'] is null %}
            ????
            {% else %}
            {{ datos['anio'] }}
            {% endif %}
            <br/>Tipo: 
            {% if datos.tipo == 1 %}
            Serie
            {% elseif datos.tipo == 2 %}
            Anime
            {% elseif datos.tipo == 3 %}
            Película
            {% endif %}
        </div>
        <div class="col-md-8">
            <h1 class="center">Listado de capítulos</h1>
            <table class="table table-hover mytable" >
                <thead>
                <th>Número</th>
                <th>Titulo del capitulo</th>
                <th>Fecha en el que salió</th>
                </thead>
                <tbody>
                    {% set cont = 0 %}
                    {% for i in datos2 %}
                        <tr>
                            <td>{{ cont }}</td>
                            <td>{{ i.titulo }}</td>
                            {% if i['fecha_salida'] is null %}
                            <td>????</td>
                            {% else %}
                            <td>{{ i['fecha_salida'] }}</td>
                            {% endif %}
                        </tr>
                        {% set cont = cont + 1 %}
                     {% else %}
                    <div class="info center">No tiene capítulos</div>
                     {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

{% endblock %}