{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
    <div class="row">
        <div class="{{ clase }}">{{ info }}</div>
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Datos de {{ datos.nombre}}
                </div>
                <div class="panel-body">
                    <h1>{{ datos.nombre}}</h1>
                    {% if datos['img_material'] is null %}
                    <img src="/utilidades/image/material/default.png" class="imgmaterial" >
                    {% else %}
                    <img src="{{ datos['img_material'] }}" class="imgmaterial" >
                    {% endif %}
                    <br/>
                    <h2>Sinopsis</h2> 
                    {% if datos['sinopsis'] is null %}
                    Sin sinopsis
                    {% else %}
                    {{ datos['sinopsis'] }}
                    {% endif %}
                    <h2>Otros datos</h2> 
                    <br/>Año en el que salió: 
                    {% if datos['anio'] is null %}
                    ????
                    {% else %}
                    {{ datos['anio'] }}
                    {% endif %}
                    <br/>Tipo: 
                    {% if datos.tipo == 1 %}
                    Serie
                    {% elseif datos.tipo == 2 %}
                    Anime
                    {% elseif datos.tipo == 3 %}
                    Película
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    Añadelo a tu lista o actualizalo
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="{{ urlFor('actualizamaterial') }}">
                    {% if lotengo == 'Agregar' %}
                            <div class="form-group">
                                <label for="select" class="col-lg-3 control-label">Estado</label> 
                                <div class="col-lg-8"> 
                                    <select class="form-control" name="estado">
                                        <option value="1">Visto</option>
                                        <option value="2">Viendo</option>
                                        <option value="3">Pendiente</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="puntuacion" class="col-lg-3 control-label">Puntuación: </label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" name="puntuacion" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="progreso" class="col-lg-3 control-label">Progreso: </label>
                                <div class="col-lg-8">
                                    <input type="number" class="form-control" name="progreso" >
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="vista_en" class="col-lg-3 control-label">Vista en: </label>
                                <div class="col-lg-8">
                                    <textarea rows="5" type="text" class="form-control" name="vista_en"
                                              placeholder="Máximo 50 caracteres"></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="comentario" class="col-lg-3 control-label">Comentario: </label>
                                <div class="col-lg-8">
                                    <textarea rows="5" type="text" class="form-control" name="comentario"
                                              placeholder="Máximo 200 caracteres"></textarea>
                                </div>
                            </div>
                            <div class="center">
                                <button name="agregarmaterial" class="btn btn-success" >Agregar</button>
                            </div>
                            <input type="hidden" value="{{datos.id}}" name="id" />
                    {% elseif lotengo == 'Editar' %}
                            <div class="form-group">
                                <label for="select" class="col-lg-3 control-label">Estado</label> 
                                <div class="col-lg-8"> 
                                    <select class="form-control" name="estado">
                                                {% if datospropios['estado'] == 1 %}
                                            <option value="1" selected>Visto</option>
                                            <option value="2">Viendo</option>
                                            <option value="3">Pendiente</option>
                                                {% elseif datospropios['estado'] == 2 %}
                                            <option value="1">Visto</option>
                                            <option value="2" selected>Viendo</option>
                                            <option value="3">Pendiente</option>
                                                {% elseif datospropios['estado'] == 3 %}
                                            <option value="1">Visto</option>
                                            <option value="2">Viendo</option>
                                            <option value="3" selected>Pendiente</option>
                                                {% endif %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="puntuacion" class="col-lg-3 control-label">Puntuación: </label>
                                    <div class="col-lg-8">
                                        <input type="number" value="{{datospropios['puntuacion']}}" class="form-control" name="puntuacion" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="progreso" class="col-lg-3 control-label">Progreso: </label>
                                    <div class="col-lg-8">
                                        <input type="number" value="{{ datospropios['capitulo_por_el_que_vas']}}" class="form-control" name="progreso" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="vista_en" class="col-lg-3 control-label">Vista en: </label>
                                    <div class="col-lg-8">
                                        <textarea rows="5" type="text" class="form-control" name="vista_en"
                                                  placeholder="Máximo 50 caracteres">{{datospropios['vista_en']}}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="comentario" class="col-lg-3 control-label">Comentario: </label>
                                    <div class="col-lg-8">
                                        <textarea rows="5" type="text" class="form-control" name="comentario"
                                                  placeholder="Máximo 200 caracteres"> {{ datospropios['comentario']}} </textarea>
                                    </div>
                                </div>
                                <div class="center">
                                    <button name="editarmaterial" class="btn btn-success" >Editar</button>
                                </div>
                            <input type="hidden" value="{{datos.id}}" name="id" />
                    {% endif %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="center">Listado de capítulos</h1>
                        <table class="table table-hover mytable" >
                            <thead>
                            <th>Número</th>
                            <th>Titulo del capitulo</th>
                            <th>Fecha en el que salió</th>
                            </thead>
                            <tbody>
                    {% set cont = 0 %}
                    {% for i in datos2 %}
                                    <tr>
                                        <td>{{ cont }}</td>
                                        <td>{{ i.titulo }}</td>
                            {% if i['fecha_salida'] is null %}
                                        <td>????</td>
                            {% else %}
                                        <td>{{ i['fecha_salida'] }}</td>
                            {% endif %}
                                    </tr>
                        {% set cont = cont + 1 %}
                     {% else %}
                                <div class="info center">No tiene capítulos</div>
                     {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
{% endblock %}