{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
            {% if soyAdmin == 1 %}
                <a href="/panelAdmin">Panel de administración</a>
            {% endif %}
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Búsqueda
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="POST" action="/busquedam/1">
                                <div class="form-group">
                                    <label for="inputBusqueda" class="col-lg-2 control-label">Buscar</label>
                                    <div class="col-lg-10">
                                        <input type="text" class="form-control" name="buscaanime" id="inputbusqueda1" autocomplete="off">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-lg-2 control-label">Tipo</label>
                                    <div class="col-lg-10">
                                        <div>
                                            <input id="A" type="checkbox" class="css-checkbox" name="cbmaterial[]"  value='0'>
                                            <label for="A" class="css-label">Serie </label>
                                        </div><br/>
                                        <div>
                                            <input id="B" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='1' >
                                            <label for="B" class="css-label">Anime </label>
                                        </div><br/>
                                        <div>
                                            <input id="C" type="checkbox" class="css-checkbox" name="cbmaterial[]" value='2' >
                                            <label for="C" class="css-label">Pelicula </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputgenero" class="col-lg-2 control-label">Género</label>
                                    <div class="col-lg-10">
                                        <select class="form-control" id="geneross" name="geneross" >
                                            {% for i in 0..N-1 %}
                                                <option value="{{ generos[i] }}">{{ generos[i] }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="center" class="col-lg-10">
                                        <button type="submit" class="btn btn-primary" name="buscarm">Buscar</button>
                                    </div>
                                </div>
                        </form>
                   </div>
                </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Buscar usuarios</h3>
                </div>
                <div class="panel panel-body">
                    <form class="form-horizontal" method="POST" action="/busquedausuario/1">
                        <div class="form-group">
                            <label for="busquedausuario" class="col-lg-2 control-label">Buscar usuario</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="busquedausuario" id="inputbusqueda" 
                                       placeholder="Introduce el X del usuario" autocomplete="off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="select" class="col-lg-2 control-label">Filtrar por</label>
                            <div class="col-lg-10">
                                <select class="form-control" id="selectfiltrausuarios" name="filtrado">
                                    <option value="1">Nombre</option>
                                    <option value="2">Nick</option>
                                    <option value="3">Material</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10 center">
                            <button type="submit" class="btn btn-success" name="buscaru">Buscar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <h2>Noticias recientes</h2>
                    {% for i in ultimasNoticias %}
                        <div>
                            <h2><a href="/noticia/{{i['id']}}"> 
                            {{ i['titulo'] }}
                            </a></h2>
                            <p> {{ i['noticia']|striptags|slice(0, 150)}}</p>
                         </div>
                    {% endfor %}
                    <a href="{{urlFor('publicabuscanoticias')}}">Publica o busca noticias</a>
        </div>
            
    </div>
    <script type="text/JavaScript">
        window.onload = InitPlantillaPrincipal();
    </script>
{% endblock %}