
{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
  
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
        <div class="{{ clase }}">{{ info }}</div>
    <div class="row">
            <h1 class="center">Listado de {{ cosas }}</h1>
            {% for i in datos %}
            <div class="col-md-3 cajitas">
                <a href="/datosmaterial/{{i['material_id']}}">
                    {{ i['nombre'] }}<br/>
                    {% if i['img_material'] is null %}
                    <img src="/utilidades/image/material/default.png" class="imgmaterial" >
                    {% else %}
                    <img src="{{ i['img_material'] }}" class="imgmaterial" >
                    {% endif %}
                </a>
                <br/><label class="resalta">Puntuación:</label>
                {% if i['puntuacion'] is null %}
                Sin puntuar
                {% else %}
                {{ i['puntuacion'] }}
                {% endif %}
                <br/><label class="resalta">Progreso: </label>
                {% if i['capitulo_por_el_que_vas'] is null %}
                ?
                {% else %}
                {{ i['capitulo_por_el_que_vas'] }}
                {% endif %}
                /
                {% if i['n_capitulos'] is null %}
                ?
                {% else %}
                {{ i['n_capitulos'] }}
                {% endif %}
                <br/><label class="resalta">Vista en: </label>
                {% if i['vista_en'] is null %}
                Sin rellenar
                {% else %}
                <p>{{ i['vista_en'] }}</p>
                {% endif %}
                <br/><label class="resalta">Comentario: </label>
                {% if i['comentario'] is null %}
                Sin comentario
                {% else %}
                <p>{{ i['comentario'] }}</p>
                {% endif %}
            </div>
            {% else %}
            <div class="info center">Su lista está vacia</div>
            {% endfor %}
    </div>

{% endblock %}