{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
  
{% extends "base.html.twig" %}
{% block contenido2 %}
    
<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#" class="navbar-brand"><img class='simbol' src="/utilidades/img.png" alt="simbolo" /> MyFreakZone</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    </div>
</div>
<div class="container margintop">
    <div class="{{ clase }}">{{ mensaje }}</div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <ul class="nav nav-tabs panel-title">
                        <li><a href="#tab1" data-toggle="tab" class="active">Login</a></li>
                        <li><a href="#tab2" data-toggle="tab">Registrate</a></li>
                    </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div id="tab1" class="tab-pane active">
                            <form class="form-horizontal" method="POST" action="{{ urlFor('login') }}">
                                <div class="form-group" id="nickdiv">
                                    <label for="inputnick" class="col-lg-2 control-label">Nick</label>
                                    <div class="col-lg-10">
                                        <input type="text" name="nick" class="form-control" placeholder="Introduce tu nick de usuario">
                                    </div>
                                </div>
                                <div class="form-group" id="clavediv" >
                                    <label for="inputclave" class="col-lg-2 control-label">Clave</label>
                                    <div class="col-lg-10">
                                        <input type="password" name="clave" class="form-control" placeholder="Introduce tu contraseña">
                                    </div>
                                </div>
                                <div class="center" class="col-lg-2 control-label">
                                    <input type="submit" value="Entrar" name="entrar" class="btn btn-primary" />
                                    <input type="reset" value="Limpiar" name="limpiar" class="btn btn-default" /><br/><br/>
                                    <a>¿Ha olvidado su contraseña?</a>
                                </div>
                            </form>
                        </div>
                        <div id="tab2" class="tab-pane">
                            <form enctype="multipart/form-data" class="form-horizontal" method="POST" action="{{ urlFor("registro")}}">
                                <div class="form-group" id="nickRdiv">
                                    <label for="nick" class="col-lg-2 control-label">Nick *</label>
                                    <div class="col-lg-10">
                                        <input type="text" value="{{ datosBorrador[0] }}" class="form-control" id="nickR" name="nick" placeholder="Nick (Solo caracteres Alfanumericos)">
                                        <label style="color: red;" id="nickRlabel"></label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="img" class="col-lg-2 control-label">Imagen de perfil: </label>
                                    <div class="col-lg-10">
                                       <input name="uploadedfile" type="file" id="file1" />
                                       <label id="errorimagen">Solo imágenes de menos de 1MB</label>
                                    </div>
                                    
                                </div>
                                <div class="form-group" id="claveRdiv">
                                    <label for="clave" class="col-lg-2 control-label">Clave *</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="claveR" name="clave" placeholder="Contraseña (Min 8 caracteres, Max 20)">
                                    </div>
                                </div>
                                <div class="form-group" id="claveRRdiv">
                                    <label for="clave" class="col-lg-2 control-label">Repite clave *</label>
                                    <div class="col-lg-10">
                                        <input type="password" class="form-control" id="claveRR" name="clave2" placeholder="Contraseña (Min 8 caracteres, Max 20)">
                                        <label style="color: red;" id="claveRlabel"></label>
                                    </div>
                                </div>
                                <div class="form-group" id="emaildiv">
                                    <label for="email" class="col-lg-2 control-label">Email *</label>
                                    <div class="col-lg-10">
                                        <input type="text" value="{{ datosBorrador[2] }}" class="form-control" id="email" name="email" placeholder="Email (valido)">
                                    </div>
                                </div>
                                <div class="form-group" id="nombreRdiv">
                                    <label for="nombre" class="col-lg-2 control-label">Nombre</label>
                                    <div class="col-lg-10">
                                        <input type="text" value="{{ datosBorrador[3] }}" id="nombreR" class="form-control"  name="nombre" placeholder="Máximo 45 caracteres">
                                    </div>
                                </div>
                                <div class="form-group" id="apellidoRdiv">
                                    <label for="apellido" class="col-lg-2 control-label">Apellidos</label>
                                    <div class="col-lg-10">
                                        <input type="text" value="{{ datosBorrador[4] }}" id="apellidoR" class="form-control" name="apellido" placeholder="Máximo 45 caracteres">
                                    </div>
                                </div>
                                <div class="form-group" id="descripcionRdiv">
                                    <label for="descripcion" class="col-lg-2 control-label">Algo sobre ti</label>
                                    <div class="col-lg-10">
                                        <textarea rows="15" id="descripcionR" type="text"class="form-control" name="descripcion"
                                                  placeholder="Introduce aquí lo que quieras contar sobre ti. Máximo 200 caracteres.">{{ datosBorrador[5] }}</textarea>
                                    </div>
                                </div>
                                <div class="center" class="col-lg-2 control-label">
                                    <input type="submit" value="Registrarse" id="registrarse" name="registrarse" class="btn btn-primary"/>
                                    <input type="reset" value="Limpiar" name="limpiar" class="btn btn-default" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">My Freak Zone</h3>
                </div>
                <div class="panel-body">
                    <h2>My Freak Zone</h2>
                    <p>Este sitio consiste en un sistema de gestión de materiales multimedia como
                    series, animes y películas. </p><p>Te servirá para llevar actualizada la información
                    sobre dichos materiales. A su vez funcionará de red social y podrás 
                    interactuar con otros usuarios de la web, conocer gente con los 
                    mismos gustos que tú, etc etc.</p><p>
                    Si eres fanático de las series y las películas, este es tu sitio.
                    Registrate de forma fácil y rápida y disfruta de nuestro sitio. </p>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/JavaScript">
    window.onload = init();
</script>
{% endblock %}