{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
        <div class="{{ clase }}">{{ mensaje }}</div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Noticia</h3>
                    </div>
                    <div class="panel panel-body">
                        <h2><div class="center">{{ datos['titulo'] }}</div></h2>
                        <div><p>{{ datos['noticia'] }}</p></div>
                        <br/>
                        <label>Noticia publicada por <a href="/datosusuario/{{ autor }}/m/1">{{ autor }}</a></label>
                        <br/><label>Fuente: 
                        {% if datos['fuente'] is null or datos['fuente'] == "" %}
                        Desconocida
                        {% else %}
                        {{ datos['fuente'] }}
                        {% endif %}
                        <br/>
                        {% if soyyo == "si" or esAdmin == 1 %}
                        <a href="/borrarnoticia/{{idNoticia}}">Borrar noticia</a>
                        {% endif %}
                        </label>
                    </div>
             </div>
         </div>
         <div class="col-md-5">
            <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Comentarios</h3>
                    </div>
                    <div class="panel panel-body">
                      <form class="form-horizontal" method="POST" action="{{ urlFor('publicacomentario') }}">
                        {% set cont = 0 %}
                        {% set cont2 = 2 %}
                        <div class="tab-content">
                            <div id="tab1" class="tab-pane active">
                                {% for i in coments %}
                                    {% if cont == 5 %}
                                        </div>
                                        <div id="tab{{cont2}}" class="tab-pane">
                                        {% set cont = 0 %}
                                        {% set cont2 = cont2 + 1 %}
                                    {% endif %}
                                  {% set cont = cont + 1 %}
                                  <div>{{ i['comentario'] }}</div>
                                  <br/>Escrito por <a href="/datosusuario/{{i['nick']}}/m/1">{{ i['nick'] }}</a>, en la fecha {{ i['fecha_publicad'] }}
                                  <br/>{% if i['nick'] == usuario or esAdmin == 1 %}
                                  <a href="/borrar/{{ i['id']}}/{{datos['id']}}">Eliminar</a>
                                  {% endif %}
                                  <hr/>
                                {% else %}
                                <div class="info">No hay comentarios en esta noticia</div>
                                {% endfor %}
                            </div>
                        </div>
                       <div class="form-group center" id="comentariodiv">
                          <div class="col-lg-10">
                            <label>Deja un comentario en la noticia</label>
                            <textarea class="form-control" type="text" id="comentario" name="comentario"></textarea>
                            <label>Comentarios minimo 10 caracteres, máximo 500</label>
                          </div>
                       </div>
                       <div class="center">
                           <button type="submit" class="btn btn-success" name="comentar">Enviar comentario</button>
                       </div>
                         <ul class="nav nav-tabs">  
                            {% for i in 1..(cont2-1) %}
                               <li><a href="#tab{{i}}" data-toggle="tab" class="active">{{i}}</a></li>
                            {% endfor %}
                          </ul>
                         <input type="hidden" value="{{ datos['id'] }}" name="id" />
                        </form>
                    </div>
             </div>
         </div>
    </div>
</div>
<script type="text/JavaScript">
    window.onload = InitNoticiasComentarios();
</script>
{% endblock %}
