{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}

{% extends "base2.html.twig" %}
{% block contenido2 %}
    <div class="container margintop">
        <div class="row">
            <div class="col-lg-2">
                <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
                <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
                <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
                <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
                <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
                <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
            </div>
        </div>
       <div class="row">
           <h1 style="text-align: center">Panel de administración</h1>
           <form method="POST" action="{{ urlFor('panelAdmin')}}">
                <div class="col-md-6">
                    <h2>Noticias pendientes de aprobar</h2>
                    <button class="btn btn-primary" name="muestranoticias">Mostrar noticias</button>
                </div>
                <div class="col-md-6">
                    <h2>Materiales pendientes de aprobar</h2>
                    <button class="btn btn-primary" name="muestramateriales">Mostrar materiales</button>
                </div>
                <div class="col-md-12">
                    <br/>
                </div>
                <div class="col-md-4">
                     <div class="form-group">
                           <label for="fecha_1" class="col-lg-2 control-label">Fecha inicial</label>
                            <div class="col-lg-10">
                                 <input type="date" name="fecha_1" value="2012-10-05" class="form-control" />
                            </div>
                      </div>
                </div>
                <div class="col-md-4">
                      <div class="form-group">
                           <label for="fecha_2" class="col-lg-2 control-label">Fecha final</label>
                            <div class="col-lg-10">
                                 <input type="date" name="fecha_2"value="2012-10-08" class="form-control" />
                            </div>
                      </div>
                </div>
            </form>
        </div>
                    {% if dato < 2 %}
                       {% if dato == 0 %}
                            <h2>Listado de noticias pendientes en esas fechas</h2><br/>
                            {% for i in N %}
                                <form class="form-horizontal" method="POST" action="{{ urlFor('panelAdmin')}}">
                                    <div class="row">
                                        <input type="text" value="{{ fecha1 }}" name="fecha_1" />
                                        <input type="text" value="{{ fecha2 }}" name="fecha_2" />
                                        <input type="text" value="{{ i['id'] }}" name="id" />
                                        <div class="col-md-10">
                                            <label>Titulo: {{ i['titulo'] }}</label>
                                            <br/><label>Fuente: 
                                            {% if i['fuente'] is null or i['fuente'] == "" %}
                                            Desconocida
                                            {% else %}
                                            {{ i['fuente'] }}
                                            {% endif %}</label>
                                            <br/><div><p>{{ i['noticia'] }}</p></div>
                                            <br/>
                                        </div>
                                       <div class="col-md-2 botonesadmin">
                                            <button class="btn btn-primary" name="aceptarnoticia">Aceptar</button>
                                            <button class="btn btn-success" name="borrarnoticia">Borrar</button>
                                      </div>
                                    </div>
                                </form>
                                <hr/>
                            {% endfor %}
                       {% elseif dato == 1 %}
                            <h2>Listado de materiales pendientes en esas fechas</h2><br/>
                            {% for i in N %}
                            <form class="form-horizontal" method="POST" action="{{ urlFor('panelAdmin')}}" enctype="multipart/form-data">
                            <input type="text" value="{{ fecha1 }}" name="fecha_1" />
                            <input type="text" value="{{ fecha2 }}" name="fecha_2" />
                            <input type="text" value="{{ i['id'] }}" name="id" />
                            <div class="row">
                                <div class="col-md-6" >
                                   <div class="form-group" id="nombrematerialdiv">
                                       <label for=nombrematerial" class="col-lg-2 control-label">Nombre del material*</label>
                                       <div class="col-lg-10">
                                           <input type="text" value="{{ i['nombre'] }}" class="form-control" id="nombrematerial" name="nombrematerial">
                                           <label>Nombre de la serie. Mínimo 1 caracteres, máximo 200</label>
                                       </div>
                                   </div>
                                   <div class="form-group" id="sinopsismaterialdiv">
                                       <label for="sinopsismaterial" class="col-lg-2 control-label">Sinopsis</label>
                                       <div class="col-lg-10">
                                           <textarea rows="5" type="text"class="form-control" id="sinopsismaterial" name="sinopsismaterial"
                                                         placeholder="Pon aquí la sinopsis de la serie/película/anime">{{ i['sinopsis'] }}</textarea>
                                           <label>Sinópsis de la serie/película/anime, máximo 100.000</label>
                                       </div>
                                   </div>
                                   <div class="form-group" id="aniomaterialdiv">
                                       <label for="aniomaterial" class="col-lg-2 control-label">Año</label>
                                       <div class="col-lg-10">
                                           <input type="text" value="{{ i['anio'] }}" class="form-control" id="aniomaterial" name="aniomaterial">
                                           <label>Año en el que se estrenó ese serie/película/anime</label>
                                       </div>
                                   </div>
                                </div>
                              <div class="col-md-6">
                                   <div class="form-group">
                                           <label for="tipomaterial" class="col-lg-2 control-label">Tipo</label>
                                           <div class="col-lg-10">
                                               <select class="form-control" name="tipomaterial" >
                                                       {% if i['tipo'] == 1 %}
                                                        <option value="1" selected>Serie</option>
                                                       <option value="2">Anime</option>
                                                       <option value="3">Película</option>
                                                       {% elseif i['tipo'] == 2 %}
                                                       <option value="1">Serie</option>
                                                       <option value="2" selected>Anime</option>
                                                       <option value="3">Película</option>
                                                       {% elseif i['tipo'] == 3 %}
                                                       <option value="1">Serie</option>
                                                       <option value="2">Anime</option>
                                                       <option value="3" selected>Película</option>
                                                       {% endif %}
                                               </select>
                                               <label></label>
                                           </div>
                                     </div>
                                     <div class="form-group" id="generomaterialdiv">
                                           <label for="generomaterial" class="col-lg-2 control-label">Géneros</label>
                                           <div class="col-lg-10">
                                               <input type="text" value="{{ i['genero'] }}" class="form-control" id="generomaterial" name="generomaterial">
                                               <label>Introduce los géneros separados por comas.</label>
                                           </div>
                                     </div>
                                     <div class="form-group">
                                         <label for="uploadedfile" class="col-lg-2 control-label">Imagen para el material</label>
                                       <div class="col-lg-10">
                                           <input name="uploadedfile" type="file" id="file1" onChange="CompruebaImagen()" />
                                           <label id="errorimagen">Solo imágenes de menos de 1MB</label>
                                       </div>
                                     </div>
                                      <div class="center">
                                            <button class="btn btn-primary" name="aceptarmaterial">Aceptar</button>
                                            <button class="btn btn-success" name="borrarmaterial">Borrar</button>
                                      </div>
                                   </div>
                                 </div>
                                </form>
                                 <hr/>
                            {% else %}
                            <div class="info center">No hay datos</div>
                          {% endfor %}
                                 
                     {% endif %}
                  {% endif %}
            </div>
{% endblock %}