{# My Freak Zone - My Freak List - Web application for films, series and animes (Japanase Animation)
  Copyright (C) 2014: David Femenía Vázquez

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU Affero General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU Affero General Public License for more details.

  You should have received a copy of the GNU Affero General Public License
  along with this program.  If not, see [http://www.gnu.org/licenses/]. #}
{% extends "base2.html.twig" %}
{% block contenido2 %}
<div class="container margintop">
    <div class="row">
        <div class="col-lg-2">
            <label class="minibuttons flatly" onClick="CambiaEstilos('Flatly')">&#9679;</label>
            <label class="minibuttons readable" onClick="CambiaEstilos('Readable')">&#9679;</label>
            <label class="minibuttons cosmo" onClick="CambiaEstilos('Cosmo')">&#9679;</label>
            <label class="minibuttons cerulean" onClick="CambiaEstilos('Cerulean')">&#9679;</label>
            <label class="minibuttons cyborg" onClick="CambiaEstilos('Cyborg')">&#9679;</label>
            <label class="minibuttons lumen" onClick="CambiaEstilos('Lumen')">&#9679;</label>
        </div>
    </div>
        <div class="{{ clase }}">{{ mensaje }}</div>
    <div class="row">
        <div class="col-md-7">
            <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Publicar noticia</h3>
                    </div>
                    <div class="panel panel-body">
                        <form class="form-horizontal" method="POST" action="{{ urlFor('publicabuscanoticias')}}">
                            <div class="form-group" id="titulonoticiadiv">
                                <label for=titulonoticia" class="col-lg-2 control-label">Titulo de la noticia *</label>
                                <div class="col-lg-10">
                                    <input type="text" value="{{ datosBorrador[0] }}" class="form-control" id="titulonoticia" name="titulonoticia">
                                    <label>Título de la noticia. Mínimo 4 caracteres, máximo 200</label>
                                </div>
                            </div>
                            <div class="form-group" id="noticiadiv">
                                <label for="noticia" class="col-lg-2 control-label">Datos de la noticia *</label>
                                <div class="col-lg-10">
                                    <textarea rows="15" type="text"class="form-control" id="noticia" name="noticia"
                                                  placeholder="Pon aquí la noticia.">{{ datosBorrador[1] }}</textarea>
                                    <label>La noticia debe tener mínimo 100 caracteres, máximo 100.000</label>
                                </div>
                            </div>
                            <div class="form-group" id="fuentenoticiadiv">
                                <label for="fuentenoticia" class="col-lg-2 control-label">Fuente</label>
                                <div class="col-lg-10">
                                    <input type="text" value="{{ datosBorrador[2] }}" class="form-control" id="fuentenoticia" name="fuentenoticia">
                                    <label>Lugar del que sacaste la noticia. Puede ir en blanco (Max 200 caracteres)</label>
                                </div>
                            </div>
                            <div class="form-group" id="tagsdiv">
                                <label for="tags" class="col-lg-2 control-label">Tags *</label>
                                <div class="col-lg-10">
                                    <input type="text" class="form-control" value="{{ datosBorrador[3] }}" id="tags" name="tags" placeholder="Palabras clave que identifiquen tu noticia">
                                    <label>Escribe las palabras separadas por comas. Minimo 10 caracteres, máximo 200</label>
                                </div>
                            </div>
                                <div class="center">
                                    <button class="btn btn-primary" name="publicar">Publicar</button>
                                </div>
                        </form>
                    </div>
             </div>
         </div>
         <div class="col-md-5">
            <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title"> Buscar noticia</h3>
                    </div>
                    <div class="panel panel-body">
                        <form class="form-horizontal" method="POST" action="/buscarnoticia/1">
                        <div class="form-group">
                            <label for="inputbuscarnoticias" class="col-lg-2 control-label">Buscar Noticia</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" name="inputbuscarnoticias">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="filtradonoticia" class="col-lg-2 control-label">Filtrar por</label>
                            <div class="col-lg-10">
                                <select class="form-control" name="filtradonoticia">
                                    <option value="1">Nick</option>
                                    <option value="2">Tags</option>
                                    <option value="3">Contenido</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-10 center">
                            <button type="submit" class="btn btn-success" name="buscarnoticia">Buscar</button>
                        </div>
                    </form>
                    </div>
             </div>
         </div>
    </div>
</div>
<script type="text/JavaScript">
    window.onload = InitPublicaNoticia();
</script>
{% endblock %}
